.vs
MadPay724.Comman/bin
MadPay724.Comman/obj
MadPay724.Data/bin
MadPay724.Data/obj
MadPay724.Infrastracture/bin
MadPay724.Infrastracture/obj
MadPay724.Presentation/bin
MadPay724.Presentation/obj
MadPay724.Repository/bin
MadPay724.Repository/obj
MadPay724.Services/bin
MadPay724.Services/obj